.navigation-menu.pc ul li.menu-contact::after {
    width: 100%;
    transition: 0.3s;
}
#sendBtn:hover {
    cursor: pointer;
}
#sendBtn:disabled:hover {
    cursor: not-allowed;
}
.text-red01 {
    color: red;
}
.contact-content {
    padding-bottom: 6em;
}
.contact-des {
    font-size: 18px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 2em auto 4em;
}
/* .screen-reader-response {
    display: none;
} */
.wpcf7-not-valid-tip, .validation-required {
    color: #9D0A0F;
    font-weight: bold;
}
/* .wpcf7-response-output {
    display: none;
} */
.mandatory {
    color: #9D0A0F;
}
.form-box {
    margin: 1.5em 0;
}
.form-box input {
    width: 100%;
    display: block;
    border: 1px solid #9D0A0F;
    padding: 0.65em;
    font-size: 16px;
}
select {
    width: 300px;
    height: 42px;
    border: 1px solid #9D0A0F;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    background: url(../images/common/select.svg) no-repeat; 
    background-size: contain;
    background-position: right;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 0 0.65em;
}
option {
    background-color: white;
    padding: 0.5em;
}
option::selection, option:hover, option:focus {
    color: white;
    background-color: #9D0A0F;
}
select:focus {
    outline: none;
}
textarea {
    width: 100%;
    display: block;
    border: 1px solid #9D0A0F;
    padding: 1em;
    height: 240px;
    font-size: 16px;
    resize: none;
}
textarea:focus {
    outline: none;
}
label {
    display: block;
    margin-bottom: 0.2em;
}
.privacy {
    overflow-y: scroll;
    /* width: 100%; */
    height: 230px;
    background-color: white;
    border:  1px #9D0A0F solid;
    padding: 1em;
    font-size: 16px;
}
.notice {
    font-size: 14px;
}

input:read-only, textarea:read-only {
    background-color: yellow;
}

.container {
    margin: auto;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    margin-top: 2em;
    margin-bottom: 3em;
    width: -moz-fit-content;
}
  
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: white;
    border: 1px solid #9D0A0F;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
}
  
  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #9D0A0F;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.input-group {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 1.5em;
}
.input-title {
    width: 150px;
}
.input-text {
    width: calc(100% - 170px);
    border: 1px #9D0A0F solid;
    padding: 0.5em;
    min-height: 1rem;
    background-color: white;
}
#inqueryContent {
    height: 250px;
}

.button-group {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    margin: 2em auto 3em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
}
.confirm-btn {
    text-align: center;
    width: 450px;
    font-size: 22px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    background-color: #9D0A0F;
    color: white;
    border: none;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    height: 55px;
    margin: auto;
    padding: unset;
    display: none;
}
.confirm-btn.goto-confirmBtn {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.confirm-btn.returnTo {
    background-color: black;
}
.confirm-btn.returnTo::before {
    background-color: #9D0A0F;
}
.confirm-btn input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.p30 {
    padding-right: 30px;
}
.confirm-btn::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.3s;
    z-index: -1;
}
.confirm-btn:hover::before {
    width: 100%;
    transition: 0.3s;
}

.confirm-btn::after {
    position: absolute;
    content: "";
    top: 40%;
    /* background-color: #9D0A0F; */
    background: url(../images/common/arrow.svg) no-repeat;
    width: 35px;
    height: 15px;
    right: 15%;
    transition: 0.3s;
}
.confirm-btn:hover::after {
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
    transition: 0.3s;
}
.ensure-data {
    display: none;
}

.confirm .confirm-btn.submit-btn {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.confirm .confirm-btn.returnTo {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.confirm .confirm-btn.goto-confirmBtn {
    display: none;
}
.confirm .ensure-data {
    display: block;
}
.confirm .input-data {
    display: none;
}
.end-btn {
    display: -moz-box!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.contact-end {
    margin: 5em auto;
}
.access-content {
    font-weight: bold;
    padding-bottom: 3em;
}
.bg-black {
    background-color: black;
}
.location-box {
    background-color: white;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    margin: 2em auto;
    /* padding: 1em 2em; */
}
.location-title {
    font-size: 30px;
    color: #9D0A0F;
    /* padding: 0.5em 1em; */
    letter-spacing: -1px;
    margin: 0.5em;
    width: 8em;
    text-align: center;
}
.location-text {
    margin: 1.5em 0;
    line-height: 2em;
    padding: 0 1.5em;
    letter-spacing: -1px;
    border-left: 1px solid #9D0A0F;
}
.location-text span {
    color: #9D0A0F;
}
.map-flex {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    margin-top: 2.5em;
    padding-bottom: 2.5em;
}
.map-view {
    border: 1px solid #9D0A0F;
    color: #9D0A0F;
    background-color: white;
    width: 140px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.google-map {
    padding-bottom: 2em;
}
.google-map iframe {
    width: 100%;
    height: 620px;
}
@media (max-width: 1280px) {
    .location-title {
        margin: 0;
        font-size: 24px;
    }
    .google-map iframe {
        height: 50vw;
    }
}
@media (max-width: 1200px) {
    .confirm-btn {
        width: 40vw;
        font-size: 20px;
    }
    .confirm-btn input {
        font-size: 20px;
    }
}
@media (max-width: 993px) {
    .contact-content {
        padding-bottom: 4em;
    }
    .map-flex {
        margin-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .map-view {
        font-size: 16px;
    }
}
@media (max-width: 769px) {
    body {
        font-size: 14px;
    }
    .contact-des {
        font-size: 16px;
        margin: 2em auto 2em;
        width: 90%;
    }
    .privacy {
        font-size: 14px;
        height: 200px;
    }
    select {
        font-size: 14px;
    }
    .notice {
        font-size: 12px;
    }
    .container {
        font-size: 14px;
    }
    .form-box {
        margin: 1em 0;
    }
    textarea {
        height: 200px;
    }
    .submit-btn {
        width: 300px;
        font-size: 16px;
        margin: 1.5em auto 0.5em;
    }
    .checkmark {
        width: 16px;
        height: 16px;
    }
    .map-view {
        font-size: 14px;
        width: 100px;
        padding: 5px;
    }
    .google-map {
        padding-bottom: 1em;
    }
    .location-box {
        margin: 1em auto;
    }
    .location-title {
        width: 120px;
        font-size: 20px;
    }
    .location-text {
        font-size: 14px;
        padding: 0 1em;
        line-height: 1.5em;
        width: calc(100% - 120px);
    }
    .button-group {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .confirm-btn {
        width: 300px;
        margin: auto;
        font-size: 18px;
        height: 45px;
        margin-bottom: 2em;
    }
    .confirm-btn input {
        font-size: 18px;
    }
    .contact-content {
        padding-bottom: 0em;
    }
}
@media (max-width: 500px) {
    select {
        width: 100%;
    }
    .contact-des {
        font-size: 14px;
    }
    .location-title {
        font-size: 18px;
        width: 100px;
    }
    .location-text {
        width: calc(100% - 100px);
    }
    .input-group {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .input-title {
        width: 100%;
    }
    .input-text {
        width: 100%;
        margin: auto;
        padding: 0.5em 0;
    }
}